# Build artifacts
build/
*.app
*.dmg

# Xcode
*.xcuserstate
*.xcworkspace
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Temporary files
*.swp
*.swo
*~
